* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1320px;
  height: 100vh;
  padding: 0px 16px;
  margin: auto;
  font-size: 16px;
}

.boards {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 1288px;
  padding: 120px 0px;
}

.board {
  width: 310px;
  background-color: #ebecf0;
  font-size: 16px;
  padding: 8px;
  color: #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board-header {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 8px;
  gap: 12px;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addCard {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.addCard:hover {
  background-color: rgb(222, 219, 219);
}

.addTaskbtn {
  background-color: black;
  color: white;
  height: 30px;
  border-radius: 4px;
}

.description {
  height: 100px;
  border-radius: 4px;
}

.title {
  height: 30px;
  border-radius: 4px;
}

.addTask {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
